.App {
   text-align: center;
}

/* Header section */
.toolbar {
   display: flex;
   justify-content: space-between;
}

.link {
   text-decoration: none;
   color: #FFF;
   margin-right: 5px;
}

.nav-links {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
}
/* End Header section */

/* Product Card section */
.card {
   overflow: hidden;
   box-shadow: 0 2px 20px #e1e5ee;
   border-radius: 0.2rem;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   text-align: center;
   cursor: pointer;
   transition: transform 200ms ease-in;
}

.card-image {
   height: 150px;
   width: 150px !important;
   margin: 0 auto !important;
}

.card-button {
   margin: 0 auto !important;
}

.card:hover {
   transform: scale(1.02);
}

.wrapper {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
   gap: 2rem;
   justify-content: center;
}
/* End Product Card section */

/* Empty Cart section */
.empty-cart-div {
   text-align: center;
}

.empty-cart-media {
   width: 100px !important;
   margin: 0 auto;
}

.empty-cart {
   padding: 15px;
   margin: 10% auto;
   float: none;
}

.empty-cart-button {
   width: 100% !important;
   text-decoration: none;
}
/* End Empty Cart section */

/* Checkout Page section */
.heading {
  text-align: center;
}

.checkout-section {
  width: 75%;
  min-height: 90vh;
  margin: 50px auto 0;
}

.cart-image {
  width: 100px;
  height: auto;
}

.quantity {
  display: flex;
}

.remove-cursor {
  padding-right: 5px;
}

.add-cursor {
  padding-left:5px;
}

.cursor {
  cursor: pointer;
}

.price {
  font-weight: bold;
  text-align: right;
}

.proceed-button {
  font-weight: bold;
  float: right;
}
/* End Checkout Page section */

/* Payment Successful section */
.s-div {
   text-align: center;
}

.s-payment {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding: 25px;
   margin: 10% auto;
}

.s-media {
   width: 100px !important;
   margin: 0 auto;
}
/* End Payment Successful section */

/* Payment Page section */
.payment-div {
   min-height: 65vh;
}

.payment-card {
   padding: 15px;
   margin: 10% auto;
   margin-bottom: 0%;
   float: none;
}

.pay-button {
   width: 100% !important;
   text-decoration: none;
}

.pay-credentials {
   text-align: center;
   color: red;
}

.card-number {
   font-weight: bold;
}
/* End Payment Page section */